<section>
    <div class="container">
        <h4 class="text-center mt-3">{{resentProjects?.headsectiontitle1[override.currentLang]}}</h4>
        <h1 class="text-bold text-center mt-3 mb-4">{{resentProjects?.headsectiontitle2[override.currentLang]}}</h1>
        <h6 class="text-bold w-75 m-auto text-center">{{resentProjects?.body[override.currentLang]}}</h6>
    </div>

    <div class="container mt-5">
        <div class="row ">
            <div *ngFor="let item of resentProjects?.projects; let i=index" class="col-lg-4 col-sm-6 project-card">

                <a routerLink=""> <img [src]="item?.imageUrl" class="img-fluid"> </a>
                <div class="card w-75">
                    <div class="fall-down"></div>
                    <button routerLink=""><i class="fas fa-plus"></i></button>
                    <h4>Printing</h4>
                    <h2>{{override.currentLang == 'en'? item?.projectName_en: item?.projectName_ar }}</h2>
                </div>
            </div>



        </div>
    </div>

</section>
