@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top: 8vh;
    margin-bottom: 8vh;
    min-height: 88vh;
    background-color: $white-color;
}


h1{
    color: $dark-color;
    font-size: 3rem;
    font-weight: bold;
    @media screen and (max-width: 980px) {
        font-size: 2.8rem;

    }
}
h4{
    font-family: $theme-font3;
    color: $main-color;
}
h6{
    font-weight: 400;
    font-size: 1.125rem;
    opacity: 0.65;
    line-height: 2rem;
}

.project-card{

    img{
        min-height: 55vh;
        width: 100%;
        transition: 0.45s;
    }
    .card{
        border-radius: 0;
        border: 0;
        background-color: $light-color;
        margin-left: 25%;
        padding: 0rem;
        position: relative;
        @media screen and (max-width: 767px) {
            margin-left: 0%;
            width: 100% !important;
        }
        h4{
            font-size: 1rem;
            padding: 2rem;
            padding-bottom: 0;
            position: relative;
            z-index: 1;
        }
        h2{
            font-size:  1.25rem;
            font-weight: bold;
            color: $dark-color;
            padding: 2rem;
            padding-top: 0;
            position: relative;
            z-index: 1;
        }
        button{
            width: 3rem !important;
            position: relative;
            z-index: 1;
            height: 3rem;
            padding: 0;
            top: -3vh;
            position: absolute;
            right: 2vh;
            &:hover{
                    background-color: $white-color;
                    color: $main-color !important;          
            }
        }

    
    }
    .fall-down{
        height: 0%;
        width: 0%;
        position: relative;
        background: $main-color;
    }
    &:hover{
        img{
            // opacity: 0.7;
            filter: grayscale(100%);
            // filter: blur(2.5px);
            
        }
        h4, h2{
            transition: 0.8s;
            color: $white-color !important;
          
        }
        button{
            background-color: $white-color;
            color: $main-color !important;
        }
        .fall-down{
            animation: fall-down 0.65s;
            width: 100%;
            height: 100%;
            position: absolute;
            background: $main-color;
        }
    }
}