<footer [ngClass]="{'text-right': override.currentLang == 'ar'}">
    <div class="container pt-5">
        <h4>{{footerData?.headerSection[override.currentLang]}}</h4>
        <h1>
          {{footerData?.titleheader[override.currentLang]}}
        </h1>
        <hr>

        <div class="row mt-5 align-content-center justify-content-center">
            <div class="col-lg-4 col-sm-5 mt-2">
                <h5> {{footerData?.titleCard[override.currentLang]}} </h5>
                <p>
                  {{footerData?.descriptionCard[override.currentLang]}}
                </p>
            </div>
            <div class="col-lg-4 col-sm-5  mt-2">
                <h5>{{'Explore'|translate}}</h5>
                <ul>
                    <li><a routerLink="/about-us"> {{'About' |translate}}</a></li>
                    <li><a routerLink="/contact-us"> {{'Contact'|translate}} </a></li>
                    <li><a routerLink=""> {{'Our Services'|translate}} </a></li>
                    <li><a routerLink="/projects"> {{'Projects'|translate}} </a></li>
                    <li><a routerLink="/about-us"> {{'How it Works'|translate}} </a></li>
                </ul>
            </div>
            <!-- <div class="col-lg-4 col-sm-5  mt-2">
                <h5>Recent News</h5>
                <h6>June 15, 2020</h6>
                <a routerLink=""><h5>What is the difference and bitmap images?</h5></a>

                <h6>June 15, 2020</h6>
                <a routerLink=""><h5>What is the difference and bitmap images?</h5></a>
            </div> -->
            <div class="col-lg-4 col-sm-5  mt-2">
                <h5>{{'Contact'|translate}}</h5>
                <p> {{footerData?.phoneNumber}}</p>
                <p>{{footerData?.email}}</p>
                <p>{{footerData?.address}}</p>
            </div>
        </div>

    </div>

    <div class="container-fluid mt-5 p-4">
        <div class="row justify-content-center align-content-center">
            <div class="col-auto">
                <p>
                    © Copyright 2020 Reserved Created by <a class="text-capitalize" href="https://overrideeg.com/"> override </a>
                </p>
            </div>
        </div>
    </div>
</footer>
