<div class="row">
  <div class="col-md-8 col-sm-12 justify-content-center align-items-center ml-auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-justify" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element?.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> phone </th>
        <td mat-cell *matCellDef="let element"> {{element?.phone}} </td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> quantity </th>
        <td mat-cell *matCellDef="let element"> {{element?.quantity}} </td>
      </ng-container>


      <!-- quantity Column -->
      <ng-container matColumnDef="file">
        <th mat-header-cell *matHeaderCellDef> file </th>
        <td mat-cell *matCellDef="let element">
            <img [src]="element?.file" alt="" class="img-fluid m-auto d-block imf_table">
         </td>
      </ng-container>

        <!-- total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> total </th>
          <td mat-cell *matCellDef="let element"> {{element?.total}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="col-md-4 col-sm-12 justify-content-end align-items-end ml-auto">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{'Cart'|translate}}</mat-card-title>
        <mat-card-subtitle>{{"Choose Methods You Want"|translate}}</mat-card-subtitle>
        <mat-card-subtitle>{{"transfer"|translate}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content class="m-4">
      <div class="justify-content-center align-items-center m-auto text-center m-4" *ngFor="let item of accountsManger; let i=index">
        <div class="row">
          <div class="col-3">
            <button mat-button mat-icon-button ><img mat-card-image mat-card-sm-image [src]="item?.image" [alt]="item?.accountName[override.currentLang]" class="pr-3 imgfo"> </button>
          </div>
          <div class="col-6 text-left">
            <span class="font-weight-bold">{{item?.accountNumber}}</span>
          </div>
        </div>
        <!-- <h5 class="mt-4">{{item?.accountNumber}}</h5> -->
      </div>
      </mat-card-content>
      <mat-card-content class="m-4">
        <p>
          {{'MessageToClients'|translate}}
        </p>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button mat-button  (click)="pay()" [disabled]="paymentForm.invalid">{{'Apply'|translate}}</button>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
