.example-card {
  max-width: 25rem;
}

.example-header-image {
  background-image: url('../../../../assets/img/shopping-cart.png');
  background-size: cover;
}
table {
  width: 100%;
  .imf_table{
    height: 3vw;
    width: 4vw;
  }
}


.imgfo{
  height: 2.5vw;
  width: 3.8vw;
}

button:hover{
  background-color: #FFF;
}

@media only screen and (max-width: 600px) {
  .imgfo {
    height: 17vw;
    width: 25vw;
  }
  table .imf_table{
    height: 17vw;
    width: 25vw;
  }
}
