<section>
    <div class="container-fluid">


        <div id="clients" class="carousel  " data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item " *ngFor="let item of clientsData?.clients; let i = index;" [ngClass]="{'active': i }">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="row align-content-center">
                                <div class="col-12 mb-5">
                                    <img [src]="item?.image" class="m-auto">
                                </div>
                                <div class="col-12 mt-5">
                                    <ol class="carousel-indicators">
                                        <li data-target="#clients" [attr.data-slide-to]="i" class="active"  ></li>
                                        <li data-target="#clients" [attr.data-slide-to]="i" ></li>
                                    </ol>
                                </div>
                        </div>
                        </div>

                        <div class="col-lg-6 pt-5 col-sm-6">
                            <p>
                                {{override.currentLang == 'en'? item?.quote_en:item?.quote_ar }}
                            </p>
                            <h4>{{override.currentLang == 'en'? item?.name_en:item?.name_ar }}</h4>
                        </div>

                    </div>

                </div>


            </div>



        </div>


    </div>
</section>
