@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top      : 25vh;
    margin-bottom   : 0vh;
    min-height      : 50vh;
    background-color: $dark-color;
    background-size: cover;
    background: $dark-color url("../../../assets/img/landing-section-img-1.jpg") center center no-repeat fixed;
}
.container-fluid{
    background: rgba(0,0,0,0.6);
    min-height: 60vh;
}
.carousel-inner {
    overflow: visible;
    .carousel-item{

        top: -10vh;
    p{
        color: $white-color;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 3rem;
        margin-top: 14vh;
        @media screen and (max-width: 991px) {
          font-size: 1rem;
      }
      @media screen and (max-width: 570px) {
          font-size: 0.95rem;
          margin-top: 1vh;
          text-align: center;
      }
    }
    h4{
        margin-top: 3rem;
        color: $accent-color;
        @media screen and (max-width: 991px) {
          font-size: 1.2rem;
      }
      @media screen and (max-width: 520px) {
          font-size: 1rem;
          text-align: center;
      }
    }
    img {
        max-height: 45vh;
        display: block;

    }
    .carousel-indicators{
        margin-top: 7rem !important;
    }
}
}


.carousel-item.active{


    top     : -10vh ;
    animation-name: to-top;
    animation-duration: 0.5s;
}

@keyframes to-top {
    0% {
      top: 45vh;
      opacity: 0;
    }
  
    25% {
      top: 35vh;
      opacity: 0;
    }
  
    50% {
      top: 25vh;
      opacity: 0;
    }
  
    75% {
      top: 10vh;
      opacity: 0.7;
    }

    90%{
      top: 0vh;
      opacity: 1;
    }
  
    100% {
      top: -10vh;
      opacity: 1;
    }
  }