<app-navbar></app-navbar>

<section [ngStyle]="{direction: override.currentLang == 'en'? 'ltr': 'rtl'}">
    <div class="container">
        <div class="row justify-content-around">
          <div class="col-xl-8 col-lg-8 col-md-11   col-sm-12">
            <app-article-section></app-article-section>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-11  col-sm-12">
                <app-side-bar></app-side-bar>
            </div>


        </div>
    </div>
</section>

<app-footer></app-footer>
