@import '../../../styles.scss';
@import '../../landing-page/features/features.component.scss';
@media screen and (max-width: 991px) {}

section {
    margin-top: 17vh;
    height: auto;
}
h1 {
    color      : $dark-color;
    font-size  : 3rem;
    font-weight: bold;

    @media screen and (max-width: 991px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 520px) {
        font-size: 2rem;
    }
}

h4 {
    font-family: $theme-font3;
    color      : $main-color;
}
img{
    min-height: 30vh;
    @media screen and (max-width: 991px) {
        // min-height: auto;
    }
}