<app-navbar></app-navbar>

<section [ngClass]="{'text-left': override.currentLang === 'en','text-right': override.currentLang === 'ar'}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>{{aboutData?.headerSection[override.currentLang]}}</h4>
            </div>
            <div class="col-12">
                <h1>{{aboutData?.titlepage[override.currentLang]}}</h1>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="row align-content-around justify-content-center">
                <div class="col-lg-4 col-md-11 col-sm-9">
                    <div class="card p-0 col-12">
                        <img [src]="aboutData?.howWorksImage" class="img-fluid">
                    </div>
                    <div class="card p-0 col-12">
                        <div class="fall-down"></div>
                        <h3 class="text-bold">{{aboutData?.howWorksTitle[override.currentLang]}}</h3>
                        <p>
                          {{aboutData?.howWorksDescription[override.currentLang]}}
                        </p>
                        <button><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>

                <div class="col-lg-4 col-md-11 col-sm-9">
                    <div class="card p-0 col-12">
                        <img [src]="aboutData?.promiseImage" class="img-fluid">
                    </div>
                    <div class="card p-0 col-12">
                        <div class="fall-down"></div>
                        <h3 class="text-bold">{{aboutData?.PromiseTitle[override.currentLang]}}</h3>
                        <p>
                          {{aboutData?.PromiseDescription[override.currentLang]}}
                        </p>
                        <button><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>


                <div class="col-lg-4 col-md-11 col-sm-9">
                    <div class="card p-0 col-12">
                        <img [src]="aboutData?.aboutImage" class="img-fluid">
                    </div>
                    <div class="card p-0 col-12">
                        <div class="fall-down"></div>
                        <h3 class="text-bold">{{aboutData?.aboutTitle[override.currentLang]}}</h3>
                        <p>
                          {{aboutData?.aboutDescription[override.currentLang]}}
                        </p>
                        <button><i class="fas fa-angle-right"></i></button>
                    </div>
                </div>



            </div>
        </div>



    </div>
</section>


<app-footer></app-footer>
