<app-navbar></app-navbar>
<section>

    <div class="container">
        <div class="row"> 
            <div class="col-12">
                <h4>Our Projects</h4>
            </div>
            <div class="col-12">
                <h1>All Projects</h1>
            </div>
        </div>

        <div class="row mt-5 ">
            <div class="col-lg-4 col-sm-6 project-card">

                <a routerLink=""> <img src="../../../assets/img/book2.webp" class="img-fluid"> </a>
                <div class="card w-75">
                    <div class="fall-down"></div>
                    <button routerLink=""><i class="fas fa-plus"></i></button>
                    <h4>Printing</h4>
                    <h2>Thick Paper Book</h2>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 project-card">

                <a routerLink=""> <img src="../../../assets/img/bookman.webp" class="img-fluid"> </a>

                <div class="card w-75">
                    <div class="fall-down"></div>
                    <button routerLink=""><i class="fas fa-plus"></i></button>
                    <h4>Copying</h4>
                    <h2>Ninety Nine You</h2>
                </div>

            </div>

            <div class="col-lg-4 col-sm-6 project-card">

                <a routerLink=""> <img src="../../../assets/img/drawing.webp" class="img-fluid"> </a>
                <div class="card w-75">
                    <div class="fall-down"></div>
                    <button routerLink=""><i class="fas fa-plus"></i></button>
                    <h4>Drawing</h4>
                    <h2>Colorful Paper Print</h2>
                </div>
            </div>

        </div>


    </div>


</section>

<app-footer></app-footer>