@import '../../../styles.scss';

@media screen and (max-width: 991px) {}

section {
    // margin-top: 17vh;
    min-height: 100vh;
}

.card {
    // min-height: 30vh;
    margin          : 1rem;
    margin-left     : 0;
    margin-right    : 0;
    background-color: $light-color;
    border          : 0;
    border-radius   : 0;
}

.search-card {
    input {
        border-radius: 0;
        padding      : 1rem;
        width        : 70%;
        border       : 0;
        height       : 8vh;
        border       : 1px solid #ddd;
        display      : inline;
    }

    button {
        @extend input;
        margin: 0;
        width: 30%;

        i {
             font-size:    1.2rem;
        }
    }
}
.recent-news{
    padding: 1rem !important;
    padding-top: 1.5rem !important;

    .media{
        border-bottom: 1px solid #eae7e7;
        h6 , a{
            color: $secondary-color !important;
            &:hover{
                color: $main-color !important;
            }
        }
    
        img{
            max-width: 64px !important;
            max-height: 64px !important;
        }
        p{
            font-weight: 500;
            opacity: 0.8;
        }
        &:last-of-type{
            border-bottom: 0;
        }
    }
}
.list{
    padding: 1rem !important;
    padding-top: 1.5rem !important;
    ul{
        margin-top: 1%;
        li{
            font-weight:500 !important;
            line-height: 1.8rem;
            a{
                color:$dark-color;
                opacity: 0.7;
            }
            &:hover{
                color: $main-color;
                a{
                    color: $main-color;
                }
            }
        }
    }
}
.tags{
    padding: 1rem !important;
    padding-top: 1.5rem !important;
    button{
        font-size: 0.85rem;
        height: max-content;
        padding: 0.5rem;
        font-weight: 100;
        background-color: $white-color !important;
        color: $main-color;
        margin-top: 1rem;
        &:hover{
            background-color: $main-color !important;
            color: $white-color;
        }
    }
}

.gallary{
    padding: 1rem !important;
    padding-top: 1.5rem !important;
    img{
        width: 80px !important;
        height: 80px !important;
        margin: auto !important;
        margin-top: 0.4rem !important;
    }
}