<section [ngStyle]="{'text-align': override.currentLang == 'en'? 'left': 'right'}">
    <div class="container-fluid">
        <div class="row">

            <!-- <div class="col-12 p-0">
                <div class="card p-5 pr-0 pl-0 search-card">

                        <div class="col-auto p-0">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button><i class="fas fa-search"></i></button>
                        </div>

                </div>
            </div> -->

            <div class="col-12 p-0">

                <div class="card  recent-news">
                    <h5>{{'Recent News'|translate}}</h5>

                    <div class="media mt-3" *ngFor="let item of blogs?.blogs |slice:0:5 ; let i=index">
                        <img class="d-flex mr-3" [src]="item?.imageUrl">
                        <div class="media-body">
                          <h6 class="mt-0">
                              <a [routerLink]="['/article', blogs?.id, i ]"  >{{override.currentLang == 'en'? item?.title_en:  item?.title_ar}}</a>
                          </h6>
                            <p>
                             {{item?.date.toDate() | date:'yyyy/MM/dd' }}
                            </p>
                        </div>
                      </div>



                </div>
            </div>

            <div class="col-12 p-0">
                <div class="card list">
                    <h5>{{'Categories'|translate}}</h5>
                    <ul>
                        <li *ngFor="let item of items?.items |slice:0:3; let i=index"><a routerLink="/">{{override.currentLang == 'en'? item.itemName_en: item.itemName_ar }} </a></li>
                        <!-- <li><a routerLink="/">Blog Single </a></li>
                        <li><a routerLink="/">Home Two </a></li>
                        <li><a routerLink="/">Sidebar </a></li> -->
                    </ul>
                </div>
            </div>

            <div class="col-12 p-0">
                <div class="card tags">
                    <h5>{{'Tags'|translate}}</h5>
                    <div class="row ">
                        <div class="col-auto">
                            <button>Printing</button>
                        </div>
                        <div class="col-auto">
                            <button>Copying</button>
                        </div>
                        <div class="col-auto">
                            <button>Eating</button>
                        </div>
                        <div class="col-auto">
                            <button>Reading</button>
                        </div>
                        <div class="col-auto">
                            <button>Copying</button>
                        </div>
                        <div class="col-auto">
                            <button>test</button>
                        </div>
                        <div class="col-auto">
                            <button>Hello</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 p-0">
                <div class="card gallary">
                    <h5>{{'Gallery Widget'|translate}}</h5>
                    <div class="row  align-content-center">
                        <div class="col-auto" *ngFor="let item of blogs?.blogs |slice:0:5; let i=index">
                          <a [routerLink]="['/article', blogs?.id, i ]">
                            <img class="img-fluid" [src]="item?.imageUrl">
                          </a>
                        </div>
                        <!-- <div class="col-auto">
                          <a routerLink="">
                            <img class="img-fluid" src="../../../../assets/img/drawing.webp">
                          </a>
                        </div>
                        <div class="col-auto">
                          <a routerLink="">
                            <img class="img-fluid" src="../../../../assets/img/book2.webp">
                          </a>
                        </div>
                        <div class="col-auto">
                          <a routerLink="">
                            <img class="img-fluid" src="../../../../assets/img/people.jpg">
                          </a>
                        </div>
                        <div class="col-auto">
                          <a routerLink="">
                            <img class="img-fluid" src="../../../../assets/img/book2.webp">
                          </a>
                        </div>
                        <div class="col-auto">
                          <a routerLink="">
                            <img class="img-fluid" src="../../../../assets/img/drawing.webp">
                          </a>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
        </div>
</section>
