<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 p-3 img-card ">
                <div class="card p-5 w-50 border-0 rounded-0">
                    <h4>
                       {{CardsData?.titleCard1[override.currentLang]}}
                    </h4>
                </div>
                <button><i class="fas fa-play"></i></button>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="col-12 p-5 light-card">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-6 col-sm-6">
                            <h5>
                              {{CardsData?.titleCard2[override.currentLang]}}

                            </h5>
                            <ul class="mt-4" style="direction: ltr;" [ngClass]="{'text-right': override.currentLang == 'ar'}">
                                <li>
                                    {{'Bleed'|translate}}:  <span class="text-muted"> {{CardsData?.bleed}} </span>
                                </li>
                                <li>
                                    {{'Trim'|translate}}:  <span class="text-muted">  {{CardsData?.trim}} </span>
                                </li>
                                <li>
                                    {{'Safe'|translate}}:  <span class="text-muted">  {{CardsData?.safe}} </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-6" *ngFor="let item of CardsData?.designTypes; let i=index">
                                    <h6>
                                        <span>{{item?.extintion}}</span>
                                        <i class="fas fa-angle-double-down"></i>
                                    </h6>
                                    <p>{{ override.currentLang == 'en' ? item?.name_en:item?.name_ar}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 light-card mt-4">
                    <img src="../../../assets/img/man2.webp" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
