@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top      : 5vh;
    margin-bottom   : 8vh;
    min-height      : 70vh;
    background-color: $white-color;

    .img-card {
        background:  url(../../../assets/img/team.webp)  no-repeat;
        @media screen and (max-width: 991px) {
            height: 50vh;
            background:  url(../../../assets/img/book.webp)  no-repeat;
        }
        h4 {
            font-weight: bold;
            @media screen and (max-width: 1199px) {
                font-size: 1.1rem;
            }
        }

        button {
            position: absolute;
            bottom  : 5rem;
            right   : 5rem;
            width   : 9vh !important;
            height  : 9vh !important;
            padding : 0;
            animation: ripple 2s linear infinite;
        }
    }

    .light-card {
        background-color: $light-color;
        padding         : 0;
        min-height      : 40vh;
        height          : max-content;

        h5 {
            font-weight: bold;
        }
        ul{
            padding: 0;
            li{
                margin-left: 1rem;
                margin-right: 1rem;
                font-weight: bold;
                list-style: none;
                line-height: 2.5rem;
            }
            span{
                font-size: 0.85rem;
            }
            li:before{
                font-family: 'Font Awesome 5 Free' !important;
                content: '\f111';
                color: $main-color;
                font-size: 0.5rem;
            }
        }
        h6{
            height: 4rem;
            width: 4rem;
            margin: auto;
            border-radius: 50%;
            background: transparent;
            border:2px solid $main-color;
            color: $main-color;
            padding: 1rem;
            text-align: center;
            transition: 0.5s;
            font-size: 0.8rem;
            margin-top: 0.5rem ;
            text-align: center;
            span{
                display: grid
            }
            i{
                margin-top: 0.3rem;
            }
            &:hover{
                background:$main-color; 
                color:$white-color;
            }
        }
        p{
            text-align: center;
            font-size: 0.7rem;
            font-weight: bold;
            opacity: 0.7;
            margin-top: 0.5rem ;
        }
        

    }
}