@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top      : 12vh;
    background-color: $light-color;
    min-height: 88vh;
}

.carousel-text {
    position: absolute;
    z-index : 1;
    top     : 25%;
    display : grid;

    h3 {
        color      : $accent-color;
        font-family: $theme-font3;
        animation  : to-topp 1s;
        position   : relative;
        top        : 0rem;
        @media screen and (max-width: 520px) {
            font-size         : 1rem;
        }

    }

    h1 {
        color             : $white-color;
        font-size         : 5rem;
        width             : 90%;
        position          : relative;
        top               : 1rem;
        opacity           : 1;
 
        animation         : to-bottom 3s;
     
        // animation-delay: 2s;
        @media screen and (max-width: 1024px) {
            font-size         : 4rem;
        }
        @media screen and (max-width: 520px) {
            font-size         : 3rem;
        }
    }

    button {
        margin-top: 4rem !important;
        animation         : opacity 4s;
    }
}

img{
    height: 88vh !important;
}

@keyframes to-topp {
    from {
        top: 6rem;


    }

    to {
        top: 0rem;

    }
}

@keyframes to-bottom {
    0% {
        top    : -4rem;
        opacity: 0;
    }

    30% {
        top    : -4rem;
        opacity: 0;
    }

    100% {
        top    : 1rem;
        opacity: 1;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}