<section style="direction: ltr;">
    <owl-carousel-o [options]="customOptions">
        <ng-template *ngFor="let item of sliderData" carouselSlide>
            <div class="slide">
                <img [src]="item.image" >
                <div class="carousel-text w-100 justify-content-center">
                    <h3 class="text-center">{{item?.title1[override.currentLang]}}</h3>
                    <h1 class="text-center text-bold mt-4 m-auto">{{item?.title2[override.currentLang]}}</h1>
                    <button routerLink="/about-us"  class="mt-4 m-auto">{{'Learn More'|translate}}</button>
                </div>
            </div>
        </ng-template>

      </owl-carousel-o>
</section>
