<section [ngStyle]="{'text-align': override.currentLang == 'en'? 'left': 'right'}">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{'Choose Item'|translate}}</mat-label>
          <mat-select  [formControl]="selectedItem">
            <mat-option disabled>{{'Choose Item'|translate}}</mat-option>
            <mat-option [value]="item.id" *ngFor="let item of items?.items; let i=index">{{override.currentLang == 'en'? item.itemName_en: item.itemName_ar }}</mat-option>

          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row align-items-center"  *ngIf="itemYouSelect">
      <div class="col-md-6">
        <img [src]="itemYouSelect?.image" alt="" class="img-fluid m-auto d-block">
      </div>
      <div class="col-md-6 col-sm-12">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-12 m-1">   <span class="text-black-50">{{'Item Name'|translate}}:</span>      {{override.currentLang == 'en'? itemYouSelect?.itemName_en:itemYouSelect?.itemName_ar}}</div>
            <div class="col-md-12 m-1">   <span class="text-black-50">{{'Price /M'|translate}}:</span>  {{itemYouSelect?.priceOfM |currency:'EGP'}}</div>
            <div class="col-md-12 m-1" >
              <mat-form-field class="example-full-width">
                <mat-label>{{'Name'|translate}}</mat-label>
                <input matInput placeholder="Name"  formControlName="name">
              </mat-form-field>
              <mat-error *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                {{'Please enter Your Name'|translate}}
              </mat-error>
            </div>
            <div class="col-md-12 m-1" >
              <mat-form-field class="example-full-width">
                <mat-label>{{'Email' |translate}}</mat-label>
                <input matInput placeholder="Email"  formControlName="email">
              </mat-form-field>
              <mat-error *ngIf="form.get('email').hasError('email') && !form.hasError('required') && form.get('email').touched">
                {{'Please enter a valid email address'|translate}}
              </mat-error>
              <!-- <button mat-stroked-button type="button"  class="w-100" (click)="logf()">{{'log'|translate}}</button> -->
            </div>
            <div class="col-md-12 m-1" >
              <mat-form-field class="example-full-width">
                <mat-label>{{'Mobile Number'|translate}}</mat-label>
                <input matInput placeholder="Phone"  formControlName="phone">
              </mat-form-field>
               </div>
            <div class="col-md-12 m-1" >
              <mat-form-field class="example-full-width">
                <mat-label>{{'Quantity'|translate}}</mat-label>
                <input type="number" min="0" matInput placeholder="Quantity"  formControlName="quantity">
              </mat-form-field>
            </div>
            <div class="col-md-12 m-1">
              <mat-form-field disabled class="example-full-width">
                <mat-label>{{'Total Price'|translate}}</mat-label>
                <input type="number" min="0" matInput placeholder="Quantity" ng-pattern="/^[0-9]*$/" formControlName="total" >
                </mat-form-field>
            </div>
            <div class="col-md-12 m-1">
              <div>
                  <button mat-stroked-button type="button"  class="w-100" (click)="filePicker.click()">{{'Pick file'|translate}}</button>
                  <input type="file"  #filePicker (change)="onFilePicked($event)" >
                  <mat-progress-bar  mode="determinate" [value]="percentage | async"></mat-progress-bar>
              </div>
            </div>
            <div class="col-md-12 m-1">    <button mat-raised-button color="primary" [disabled]="form.invalid">{{'Go to Purchase'|translate}}</button></div>
          </div>
        </form>

      </div>

    </div>
  </div>
</section>


