<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" style="height: 80vh;">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://cache.desktopnexus.com/thumbseg/2003/2003684-bigthumbnail.jpg"  style="height: 80vh;">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://restaurant-table-des-faubourgs.com/assets/components/tdf/js/fullPage-master/examples/imgs/bg3.jpg"  style="height: 80vh;">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://www2.ciimar.up.pt/imgs/settings/imgs_frs3s_ref.pexels-photo-391522_1.jpg"  style="height: 80vh;">
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide">
            <img src="https://www2.ciimar.up.pt/imgs/settings/imgs_ucznq_ref.imgs_trzp5_ref.pexels-photo-355288.jpeg"  style="height: 80vh;">
        </div>
    </ng-template>
  </owl-carousel-o>
  
  <!-- <div class='container-fluid'>    
    <div class="row" style="padding: 20px;">    
        <div class="col-sm-12 btn btn-success">    
         Use Owl Carousel In Angular 8  
        </div>    
    </div>    
  <owl-carousel [options]="SlideOptions"  [carouselClasses]="['owl-theme', 'sliding']" >  
    <div class="item" *ngFor="let img of Images">  
    <div style="align-content: center">  
    <img style="height: 260px;width:100%"src={{img}}/>  
    </div>  
    </div>  
    </owl-carousel>  
  </div>  
  <router-outlet></router-outlet>  -->
  