@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top: 8vh;
    margin-bottom: 8vh;
    min-height: 88vh;
    background-color: $white-color;
}


h1{
    color: $dark-color;
    font-size: 3rem;
    font-weight: bold;
    @media screen and (max-width: 991px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 520px) {
        font-size: 2rem;
    }
}
h4{
    font-family: $theme-font3;
    color: $main-color;
}
h6{
    font-weight: 400;
    font-size: 1.125rem;
    opacity: 0.65;
    line-height: 2rem;
}

.card{
    min-height: 20vh;
    margin-top: 2vh;
    border: 0;
    background-color: $light-color;
    position: relative;
     h3{
     position: relative;
     z-index: 1;
     color: $dark-color;
     padding: 2rem;
     font-weight: bold;
 }
 p{
     padding: 2rem;
     padding-top: 0rem;
     font-weight: 500;
     color: $dark-color;
     opacity: 0.75;

 }
 i{
    position: relative;
    z-index: 1;
    font-size: 3.5rem;
    padding: 2rem;
    padding-bottom: 0;
    color: $secondary-color;
 }
 button{
    width: 6vh !important;
    height: 6vh;
    padding: 0.7rem;
    position: absolute;

    top: 90%;
    i{
        font-size: 1rem;
        padding: 0rem;
        color: $white-color;
     }
     &.left{
      left: 7%;
     }
     &.right{
      left: 7%;
     }
 }

  .fall-down{
      height: 0%;
      width: 0%;
      position: relative;
      background: $main-color;
  }
}
.card.vertical{
    height: 63vh;
    button{
        top: 95%;
    }
    @media screen and (max-width: 991px) {
        margin-top: 2rem;
    }

}
.card:hover{
  h3, p ,button , i{
      transition: 0.8s;
      color: $white-color !important;

  }
  button{
    color: $main-color;
      background-color: $white-color;
      i{
        color: $main-color !important;
      }
  }
  .fall-down{
      animation: fall-down 0.9s;
      width: 100%;
      height: 100%;
      position: absolute;
      background: $main-color;
  }
}
