<section [ngClass]="{'text-right': override.currentLang == 'ar'}">
    <div class="container">
        <h4 class="text-center mt-3">{{featuresData?.texthead1[override.currentLang]}}</h4>
        <h1 class="text-bold text-center mt-3 mb-4">{{featuresData?.texthead2[override.currentLang]}}</h1>
        <h6 class="text-bold w-75 m-auto text-center">{{featuresData?.texthead3[override.currentLang]}}</h6>
    </div>

    <div class="container mt-5">
        <div class="row align-content-around justify-content-center">
            <div class="col-lg-6 col-md-11 col-sm-9 mt-3" *ngFor="let item of featuresData?.cards; let i=index" [ngClass]="{'col-lg-6': item?.image, 'col-lg-3': !item?.image}">
                <div class="card p-0 col-12" *ngIf="item?.image">
                    <img [src]="item?.image">
                </div>
                <div class="card p-0 col-12" [ngClass]="{'vertical': !item?.image, 'col-md-12': !item?.image, 'col-12': item?.image}">
                    <div class="fall-down"></div>
                    <i class="fas fa-print"></i>
                    <h3 class="text-bold">{{override.currentLang == 'ar' ? item?.text_ar: item?.text_en }}</h3>
                    <p>
                      {{override.currentLang == 'ar' ? item?.bodycard_ar: item?.bodycard_en }}
                    </p>
                    <button [ngClass]="{'left': override.currentLang == 'ar','right': override.currentLang == 'en'}">
                      <i class="fas " [ngClass]="{'fa-angle-left': override.currentLang == 'ar','fa-angle-right': override.currentLang == 'en'}"></i></button>
                </div>
            </div>


            <!-- <div class="col-lg-6 col-md-12 col-sm-9">
                <div class="row justify-content-around">
                    <div class="card vertical p-0  col-md-5" *ngFor="let item of othersCards">
                        <div class="fall-down"></div>
                        <i class="fas fa-print"></i>
                        <h3 class="text-bold">{{override.currentLang == 'ar' ? firstCard?.text_ar: firstCard?.text_en }}</h3>
                        <p>
                          {{override.currentLang == 'ar' ? firstCard?.bodycard_ar: firstCard?.bodycard_en }}
                        </p>
                        <button [ngClass]="{'left': override.currentLang == 'ar','right': override.currentLang == 'en'}" >
                          <i class="fas " [ngClass]="{'fa-angle-left': override.currentLang == 'ar','fa-angle-right': override.currentLang == 'en'}"></i></button>
                    </div>

                </div>
            </div> -->


        </div>
    </div>

</section>
