@import '../../../styles.scss';

@media screen and (max-width: 991px) {}

section {
    margin-top: 17vh;
    height: auto;
}
h1 {
    color      : $dark-color;
    font-size  : 3rem;
    font-weight: bold;

    @media screen and (max-width: 991px) {
        font-size: 2.5rem;
    }

    @media screen and (max-width: 520px) {
        font-size: 2rem;
    }
}

h4 {
    font-family: $theme-font3;
    color      : $main-color;
}
.contact-form{
    background-color: $light-color;
    border: 0;
    border-radius: 0;
    min-height: 92vh;
    .form-control{    border-radius: 25px; border: 0; padding: 2rem;}
    textarea{
        resize: none;
    }
    
}
.details{
    background-color: $white-color;
    border-radius: 0;
    // border-left: 0;
    height: fit-content;
    min-height: 92vh;
ul{
    padding: 0;
    li{
        list-style: none;
        margin-top: 1.5rem;
        padding: 0;
        h6{
            text-align: center;
            color: $dark-color;
            font-size: 1.2rem;
        }
        p{
            text-align: center;
            font-size: 0.95rem;
            font-weight: 400;
            opacity: 0.7;
            color: $dark-color;
        }
    }
}
}