<app-navbar></app-navbar>

<section [ngClass]="{'text-right': override.currentLang == 'ar'}">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-xl-8 p-0 col-lg-8 col-md-11 col-sm-11 ">
                <div class="card p-5 contact-form">
                    <h4>{{'Contact with us'|translate}}</h4>
                    <h1>{{'Send Message'|translate}}</h1>
                    <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="col-12 mt-5">
                        <input type="text" class="form-control shadow-sm" formControlName="name" placeholder="{{'Name'|translate}}">
                    </div>
                    <div class="col-12 mt-3">
                        <input type="text" class="form-control shadow-sm" formControlName="phone"  placeholder="{{'Mobile Number'|translate}}">
                    </div>
                    <div class="col-12 mt-3">
                        <input type="email" class="form-control shadow-sm" formControlName="email"  placeholder="{{'Email'|translate}}">
                    </div>
                    <div class="col-12 mt-3">
                      <textarea class="form-control shadow-sm" formControlName="message" placeholder="{{'Message'|translate}}"></textarea>
                    </div>
                    <div class="col-12 mt-3">
                     <button  [disabled]="!form.valid">{{'Send'|translate}}</button>
                    </div>
                  </form>

                </div>
            </div>
            <div class="col-xl-4 p-0 col-lg-4 col-md-11 col-sm-11 ">
                <div class="card p-5 details">
                    <h4 class="text-center">{{'Contact with us'|translate}}</h4>
                    <h1 class="text-center">{{'Details'|translate}}</h1>
                    <ul class="mt-5 mb-5">
                        <li>
                            <h6>{{'Address'|translate}}</h6>
                            <p>88 New Street, Washington DC
                                United States, America</p>
                        </li>
                        <li>
                            <h6>{{'Phone'|translate}}</h6>
                            <p>Local: 222 999 888</p>
                            <p>Mobile: 000 8888 999</p>

                        </li>
                        <li>
                            <h6>{{'Email'|translate}}</h6>
                            <p>needhelp@printify.com</p>
                            <p>inquiry@printify.com</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

<app-footer></app-footer>
