section {
  margin-top: 17vh;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 991px) {
  .col-xl-4 , .col-lg-4{
    order: 2;
  }
  .col-xl-8, .col-lg-8{
    order: 1;
  }
}
