<app-navbar></app-navbar>

<section [ngStyle]="{direction: override.currentLang == 'en'? 'ltr': 'rtl'}">
    <div class="container">
        <div class="row justify-content-around">
          <div class="col-xl-12 col-lg-8 col-md-11   col-sm-12">
              <router-outlet></router-outlet>
          </div>
          <!-- <div class="col-xl-4 col-lg-4 col-md-11  col-sm-12">

          </div> -->


        </div>
    </div>
</section>

<app-footer></app-footer>
