@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top      : 5vh;
    margin-bottom   : 8vh;
    min-height      : 88vh;
    background-color: $white-color;
}

.img-card{
    background: #F5F6FA url(../../../assets/img/book.webp) center  no-repeat;
    min-height      : 88vh;
    
    .card{
    background-color: transparent;  
    border: 7px solid $white-color;
    color: $white-color;
    font-weight: bold;
    padding: 2rem;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    width: 60%;
    right: 2rem;


    @media screen and (max-width: 980px) {
        font-size  : 1.5rem;
        width: 70%;
    }

    @media screen and (max-width: 520px) {
        font-size  : 1.2rem;
    }
    }
}

.text-card{
    background-color: $dark-color;
    min-height      : 88vh;

    h3 {
        font-family: $theme-font3;
        color      : $accent-color;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    h1 {
        color      : $white-color;
        font-size  : 4rem;
        font-weight: bold;
        width      : 80%;
        padding-left: 2rem;
        padding-right: 2rem;
        @media screen and (max-width: 1280px) {
            font-size  : 3.5rem;
            width      : 90%;
        }
        @media screen and (max-width: 980px) {
            font-size  : 3rem;
        }
        @media screen and (max-width: 720px) {
            font-size  : 2.5rem;
            width      : 100%;
        }
        @media screen and (max-width: 520px) {
            font-size  : 2rem;
        }
    }
    p {
        margin-top  : 4vh !important;
        color      : $white-color;
        font-size: 1.115rem;
        font-weight : 400;
        opacity     : 0.7;
        width      : 80%;
        padding-left: 2rem;
        padding-right: 2rem;
        @media screen and (max-width: 720px) {
            font-size: 1rem;
        }
    }
    button{
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: $accent-color;
        &:hover{
            background-color: $white-color;
            color: $dark-color;
        }
    }
}