<section [ngClass]="{'text-right': override.currentLang == 'ar'}">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-9 img-card">
                <div class="card">
                    {{imgDark?.headtext[override.currentLang]}}
                </div>
            </div>
            <div class="col-lg-6 p-5 col-sm-9 text-card">
                <h3 class="mt-5">{{imgDark?.titleCard1[override.currentLang]}}</h3>
                <h1>
                  {{imgDark?.titleCard2[override.currentLang]}}
                </h1>
                <p>
                  {{imgDark?.bodyCard2[override.currentLang]}}
                </p>

                <button class="mt-5">{{'Get Sample'|translate}}</button>
            </div>
        </div>
    </div>
</section>
