/* opacity animation */
// .class-name {
//   animation-name    : opacity;
//   animation-duration: 5s;
// }

// @keyframes opacity {
//   0% {
//     opacity: 0;
//   }

//   25% {
//     opacity: 0;
//   }

//   50% {
//     opacity: 0;
//   }

//   75% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }

/*  */


/* to-top animation */

// @keyframes to-top {
//   0% {
//     top: 45vh;
//   }

//   25% {
//     top: 35vh;
//   }

//   50% {
//     top: 25vh;
//   }

//   75% {
//     top: 15vh;
//   }

//   100% {
//     top: auto
//   }
// }
// @keyframes to-bottom {
//   0% {
//     margin-top: -2rem ;
//   }

//   100% {
//     margin-top: 1rem ;
//   }
// }

/*  */
/* increase-scale animation */

@keyframes increase-scale {
  0% {
    -ms-transform: scale(0.8);
    transform    : scale(1);
  }


  50% {
    -ms-transform: scale(1);
    transform    : scale(0.8);
  }

  100% {
    -ms-transform: scale(0.8);
    transform    : scale(1);
  }
}

/*  */
/* typing animation */

// h1 {
//   color         : black;
//   overflow      : hidden;
//   border-right  : .15em solid red;
//   white-space   : nowrap;
//   margin        : 0 auto;
//   letter-spacing: .15em;
//   animation     :
//     typing 3.5s steps(30, end),
//     blink-caret .5s step-end infinite;

// }

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}


@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: red
  }
}


/* fall-down */

// .card{
//   background-color: $light-color;
//   height: 50vh;
//   position: relative;
//  h3{
//      position: relative;
//      z-index: 1;
//      color: $main-color;
//  }
//   .fall-down{
//       height: 0%;
//       width: 0%;
//       position: relative;
//       background: $main-color;
//   }
// }
// .card:hover{
//   h3{
//       transition: 0.8s;
//       color: $white-color;
//   }
//   .fall-down{
//       animation: fall-down 0.9s;
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       background: $main-color;
//   }
// }

@keyframes fall-down {
  0% {
    height: 0%;
  }

  10% {
    height: 20%;
  }

  20% {
    height: 40%;
  }

  35% {
    height: 60%;
  }

  50% {
    height: 80%;
  }

  65% {
    height: 100%;
  }

  80% {
    height: 80%;
  }

  90% {
    height: 90%;
  }

  100% {
    height: 100%;
  }
}

// ripple
//     animation: ripple 2s linear infinite;

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.5),
      0 0 0 1.5rem rgba(255, 255, 255, 0.5),
      0 0 0 5rem rgba(255, 255, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.5),
      0 0 0 4rem rgba(255, 255, 255, 0.5),
      0 0 0 6rem rgba(255, 255, 255, 0);
  }
}