
//fonts
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$theme-font : 'Changa', sans-serif;
$theme-font2: 'Recursive', sans-serif;
$theme-font3: 'Pacifico', cursive;




// colors
$main-color  : #3064EE;
$accent-color: #FEC931;
$secondary-color: #2884C6;
$white-color : #fff;
$light-color : #F5F6FA;
$dark-color  : #212121;

//rgb
$main-rgba-25   : rgba(40, 100, 238, 0.25);
$main-rgba-50   : rgba(40, 100, 238, 0.50);
$main-rgba-75   : rgba(40, 100, 238, 0.75);
$main-rgba-100  : rgba(40, 100, 238, 1);
$accent-rgba-25 : rgba(254, 201, 49, 0.25);
$accent-rgba-50 : rgba(254, 201, 49, 0.50);
$accent-rgba-75 : rgba(254, 201, 49, 0.75);
$accent-rgba-100: rgba(254, 201, 49, 1);

// $boxshadow: ;
$boxshadow    : $main-rgba-25;
$boxshadowNone: none !important;
