.owl-nav {
    // display: none !important;
    margin-top: -24% !important;
    position: relative;
    
    .owl-prev{
        float: left;
        background-color: rgba(0,0,0,0.4) !important;
        width: 4rem !important;
        height: 4rem !important;
        border-radius: 50% !important;
        font-size: 1.5rem !important;
        line-height: 3.5rem;
        transition: 0.3s;
        @media screen and (max-width: 991px) {
            display: none !important;
        }
    }

    .owl-next{
        @extend .owl-prev;
        float: right;
    }
    .owl-prev:hover , .owl-next:hover{
        background-color: rgba(0,0,0,0.7) !important;
    }
}

.owl-dots {
    position  : relative;
    margin-top: 45vh;
    @media screen and (max-width: 991px) {
        margin-top: 20vh;
    }

    @media screen and (max-width: 720px) {
        margin-top: 10vh;
    }
    .owl-dot {
        span {
            width : 1.5rem !important;
            height: 0.2rem !important;
        }
    }
}