<section [ngClass]="{'text-right': override.currentLang == 'ar'}">
    <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-9 carousel-card pt-5 pb-5">
                    <div class="card ">

                        <img [src]="questions?.image" class="m-auto img-fluid">
                        <h3 class="w-50 text-center m-auto">
                            {{questions?.texthead[override.currentLang]}}
                        </h3>
                        <p class="w-50 text-center m-auto" >
                          {{questions?.description[override.currentLang]}}
                        </p>

                        <button routerLink="/about-us" class="w-auto  text-center m-auto ">{{'Learn More'|translate}}</button>

                    </div>
                </div>

                <div class="col-lg-6 col-md-8 col-sm-9 question-card pt-5 pb-5">
                    <div class="card p-5">
                        <h4> {{questions?.title[override.currentLang]}}</h4>
                        <h1>
                          {{questions?.texthead[override.currentLang]}}
                        </h1>


                        <div id="accordion" role="tablist">
                            <div class="card" *ngFor="let item of questions?.accordion; let i=index">
                              <div class="card-header" role="tab" [id]="i">
                                <h5 class="mb-0">
                                  <a data-toggle="collapse" [href]="'#collapseOne'+i" [attr.aria-expanded]="i == 0 ?true: false" [attr.aria-controls]="'questionCollapseOne'+i" class="collapsed">
                                    {{override.currentLang == 'en'? item?.tite_en:item?.tite_ar }}
                                  </a>
                                </h5>
                              </div>

                              <div [id]="'collapseOne'+i" class="collapse " [ngClass]="{show: i == 0}" role="tabpanel" [attr.aria-labelledby]="i" >
                                <div class="card-body">
                                  {{override.currentLang == 'en'? item?.description_en:item?.description_ar }}

                                </div>
                              </div>
                            </div>
                          </div>



                    </div>
                </div>
            </div>
    </div>
</section>
