@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    margin-top      : 0vh;
    // min-height      : 88vh;
    background-color: $white-color;
}

.card {
    
    background-color: transparent;
    border          : 0;
    border-radius   : 0;
}

.carousel-card {
    background-color: $light-color;
    h3{
        font-weight: bold;
        color: $dark-color;
        margin-top: 2rem !important;
        @media screen and (max-width: 1140px) {
            font-size: 1.7rem;
        
        }
        @media screen and (max-width: 520px) {
            font-size: 1.4rem;
        }
    }
    p{
        margin-top: 2rem !important;
        font-weight: 400;
        opacity: 0.65;
        color: $dark-color;
        @media screen and (max-width: 1140px) {
            font-size: 1rem;
        
        }
        @media screen and (max-width: 520px) {
            font-size: 0.8rem;
        }
    }
    button{
        margin-top: 2rem !important;
    }
}


.question-card {
    background-color: $white-color;

    h1 {
        color      : $dark-color;
        font-size  : 2.5rem;
        font-weight: bold;
        width      : 75%;
        @media screen and (max-width: 1140px) {
            font-size: 1.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            width      : 85%;
        }
        @media screen and (max-width: 520px) {
            font-size: 1.5rem;
            width      : 100%;
        }
    }

    h4 {
        font-family: $theme-font3;
        color      : $main-color;
        @media screen and (max-width: 1140px) {
            font-size: 1.2rem;
            padding-left: 2rem;
            padding-right: 2rem;
        
        }
        @media screen and (max-width: 520px) {
            font-size: 1rem;
        }
    }

    #accordion {
        margin-top: 2.5rem;

        .card {
            height: auto;

            .card-header {
                border          : 0;
                background-color: $white-color;
                border-bottom   : 1px solid #ebedf4;

                h5 {
                    padding: 1rem;
                    @media screen and (max-width: 1140px) {
                        font-size: 1.11rem;
                    
                    }
                    @media screen and (max-width: 520px) {
                        font-size: 1rem;
                    }

                    a {
                        color     : $dark-color;
                        transition: 0.5s;

                        &:hover {
                            color: $main-color;
                        }
                    }

                    a[aria-expanded="true"] {
                        color: $main-color !important;
                    }
                }
            }

            .card-body {
                font-weight: 400;
                opacity    : 0.6;
                padding: 2rem;
            }
        }
    }
}