<section style="direction: ltr;" [ngClass]="{'text-right': override.currentLang == 'ar'}">
    <div class="container pt-5 pb-5">

        <div class="row justify-content-center">

            <div class="col-lg-6">
                <h4 class="mt-5">{{servicesData?.title1[override.currentLang]}}</h4>

                <h1 class="mt-2">
                  {{servicesData?.title2[override.currentLang]}}
                </h1>

                <p class="mt-2 text">
                  {{servicesData?.body1[override.currentLang]}}
                </p>

                <p class="mt-2 text">
                  {{servicesData?.body2[override.currentLang]}}

                </p>
                <div class="row mt-5 justify-content-center align-content-center">
                    <div class="col-auto mt-3 ">
                        <button>{{'Learn More'|translate}}</button>
                    </div>
                    <div class="col-auto mt-3 d-flex align-content-center">
                        <p class="icon-outline-circle m-0"><i class="fas fa-phone"></i></p>
                        <p class="number">{{servicesData?.phoneNumpers}} </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mt-5  rounded-0 border-0 p-5">
                    <div class="row">
                        <div *ngFor="let item of servicesData?.blocks; let even = even; let odd = odd; let i=index;" [ngClass]="{ 'border-right': odd, 'border-left': even , 'border-up': odd, 'border-bottom': even } " class="col-6 p-0 serv-card  text-center">
                            <div class="fall-down"></div>
                            <i [class]="'fas '+item.shap"></i>
                            <h5>{{override.currentLang == 'en' ? item?.title_en: item?.title_ar}}</h5>
                        </div>
                        <!-- <div class="col-6 p-0 serv-card  text-center border-left border-bottom">
                            <div class="fall-down"></div>
                            <i class="fas fa-print"></i>
                            <h5> Flyer Printing </h5>
                        </div>
                        <div class="col-6 p-0 serv-card  text-center border-right border-top">
                            <div class="fall-down"></div>
                            <i class="fas fa-money-check"></i>
                            <h5> Poster Printing </h5>
                        </div>
                        <div class="col-6 p-0 serv-card  text-center border-left border-top">
                            <div class="fall-down"></div>
                            <i class="fas fa-shapes"></i>
                            <h5>Sticker Printing </h5>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>


    </div>


</section>
