@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    background-color: $light-color;
    min-height      : 88vh;
    margin-top      : 0;
    background      : $light-color url("../../../assets/img/people.jpg") center right no-repeat;
    @media screen and (max-width: 1280px) {
        background      : $light-color;
    }
    h1 {
        color      : $dark-color;
        font-size  : 3rem;
        font-weight: bold;
        width      : 75%;
        @media screen and (max-width: 1380px) {
            font-size  : 2.8rem;
        }
        @media screen and (max-width: 1280px) {
            font-size  : 2.5rem;
        }
        @media screen and (max-width: 728px) {
            font-size  : 2rem;
            width      : 85%;
        }
    }

    h4 {
        font-family: $theme-font3;
        color      : $main-color;
    }

    p.text {
        margin-top  : 4vh !important;
        // font-size: 1.115rem;
        font-weight : 400;
        opacity     : 0.7;
    }

    p.icon-outline-circle {}

    p.number {
        color       : $dark-color;
        font-size   : 1.4rem;
        font-weight : bold;
        margin-left : 1rem;
        margin-right: 1rem;
        line-height : 3.5rem;
    }

    .serv-card {
        position  : relative;
        min-height: 25vh;

        i {
            position      : relative;
            z-index       : 1;
            font-size     : 3rem;
            padding       : 2rem;
            padding-bottom: 0;
            color         : $secondary-color;
        }

        h5 {
            position  : relative;
            font-size : 1.2rem;
            margin-top: 1.5rem;
            color     : $dark-color;
            z-index   : 2 !important;
        }

        .fall-down {
            height    : 0%;
            width     : 100%;
            position  : relative;
            background: $main-color;
    
        }

        &:hover {

            h5,
            i {
                transition: 0.8s;
                color     : $white-color !important;

            }

            .fall-down {
           
                animation : fall-down 0.7s;
                width     : 100%;
                height    : 100%;
                position  : absolute;
                background: $main-color;

            }
        }
    }
}


