<app-navbar></app-navbar>

<app-landing-section></app-landing-section>

<app-welcome-section></app-welcome-section>

<app-features></app-features>

<app-clients></app-clients>

<app-questions-section></app-questions-section>

<app-benefits-section></app-benefits-section>

<app-services-section></app-services-section>

<app-cards-section></app-cards-section>

<app-img-dark-card></app-img-dark-card>

<app-recent-projects></app-recent-projects>

<app-footer></app-footer>
