@import '../../../../styles.scss';

@media screen and (max-width: 991px) {}

section {

    height: auto;
}

.blog-title {
    h1 {
        color      : $dark-color;
        font-size  : 3rem;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 520px) {
            font-size: 2rem;
        }
    }

    h4 {
        font-family: $theme-font3;
        color      : $main-color;
    }
}

.blog-post {

    .blog-img {
        min-height: 40vh;
        max-height: 60vh;
        // background:   $light-color;
        img{
            min-height: 40vh;
            max-height: 75vh ;
            // margin: auto !important;
        }
    }
    .blog-content{
        background-color: $light-color !important;
        .blog-header{
            background-color: $light-color;
            padding: 1.2rem;
            i{
                color: $secondary-color;
                font-size: 1.2rem;
                display: contents;
            }
            span{
                font-size: 0.8rem;
                color: $dark-color;
                opacity: 0.8;
                font-weight: bold;
                padding: 0.8rem;
            }   
        }
        .blog-body{
            background-color: $light-color;
            position: relative;
            border-top: 1px solid #eae7e7;
            .fall-down {
                height    : 0%;
                width     : 100%;
                position  : relative;
                background: $main-color;
        
            }
            h2{
                color: $secondary-color;
                margin-top: 1%;
                padding: 1.2rem;
                position: relative;
                z-index: 1;
            }
            p{
                color: $dark-color;
                font-size: 0.8rem;
                opacity: 0.8;
                font-weight: 400;
                line-height: 1.5rem;
                margin-top: 2%;
                padding: 1.2rem;
                padding-bottom: 0;
                position: relative;
                z-index: 1;
            }
            a{
                background: transparent;
                color: $main-color;
                padding: 0;
                font-weight: 500;
                padding: 1.2rem;
                position: relative;
                z-index: 1;
                &:hover{
                    color: $secondary-color !important;
                }
                i{
                    margin: 1rem;
                }
            }


            &:hover {

                h2,
                p , a{
                    transition: 0.8s;
                    color     : $white-color !important;
    
                }
                a:hover{
                        color: $dark-color !important;
                }
    
                .fall-down {
               
                    animation : fall-down 0.7s;
                    width     : 100%;
                    height    : 100%;
                    position  : absolute;
                    background: $main-color;
    
                }
            }
        }
    }
}



.pagination{
    .page-item{
        margin: 0.35rem;
        border-radius: 0;
    }
    a{
        color: $main-color;
        font-weight: 500;
        &:hover , &:active , &:focus{
            background-color: $main-color;
            color: $white-color;
            box-shadow: none;
        }
    }
    .active a{
        background-color: $main-color !important;
        color: $white-color !important;
        border-color: $main-color !important;
    }
}