<section [ngClass]="{'text-right': override.currentLang == 'ar'}" [ngStyle]="{'text-align': override.currentLang == 'en'? 'left': 'right'}">
    <div class="container-fluid">

        <div class="card blog-title border-0 mt-4 pt-3 pb-3">
            <h4>
               {{blogs?.titleSection[override.currentLang]}}
            </h4>
            <h1>
              {{blogs?.blogtitle[override.currentLang]}}
            </h1>
        </div>


        <div class="card blog-post border-0 mt-4 pt-3 pb-3" *ngFor="let item of blogs?.blogs |  paginate:config; let i=index">
            <div class="blog-img row  pr-3 pl-3" [ngClass]="{'justify-content-end': override.currentLang == 'en','justify-content-start': override.currentLang == 'ar'}">
              <div class="p-0">
                <img [src]="item?.imageUrl" class="img-fluid">
              </div>
            </div>

            <div class="blog-content">
                <div class="blog-header">
                    <div class="row justify-content-around align-content-center">
                        <div class="col-auto">
                            <i class="fas fa-user"></i>
                            <span>{{override.currentLang == 'en'? item?.name_en:  item?.name_ar}}</span>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-calendar-alt"></i>
                            <span>
                              {{item?.date.toDate() | date:'yyyy/MM/dd' }}
                            </span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments"></i>
                            <span>{{item?.numberOfComments}}</span>
                        </div>
                    </div>

                </div>

                <div class="blog-body">
                    <div class="fall-down"></div>
                    <h2>{{override.currentLang == 'en'? item?.title_en:  item?.title_ar}}</h2>
                    <p>
                      {{override.currentLang == 'en'? item?.description_en:  item?.description_ar}}
                    </p>
                    <a [routerLink]="['/article', blogs?.id, i ]">
                        {{'Read More'|translate}} <i class="fas fa-angle-right"></i>
                    </a>
                </div>

            </div>

        </div>

        <!-- <pagination-controls class="text-center"  maxSize="5" directionLinks="true"  responsive="true" (pageChange)="pageChanged($event)"></pagination-controls> -->


<div class="row justify-content-center mt-5">
  <pagination-controls class="text-center" [previousLabel]="Previous" [nextLabel]="Next"  maxSize="5" directionLinks="true"  responsive="true" (pageChange)="pageChanged($event)"></pagination-controls>

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#!" aria-label="Previous">
              <span aria-hidden="true">«</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link " href="#!">1</a></li>
          <li class="page-item"><a class="page-link" href="#!">2</a></li>
          <li class="page-item"><a class="page-link" href="#!">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#!" aria-label="Next">
              <span aria-hidden="true">»</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav> -->
</div>



    </div>
</section>
