@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    background-color: $main-color;
    min-height: 88vh;
    margin-top: 0;
    background: $main-color url("../../../assets/img/book&cd.png") center right no-repeat fixed;
}
.card{
    margin-top: 10vh;
    background-color: transparent;

    h1{
        color: $white-color;
        font-weight: bold;
        font-size: 3.33rem;
        margin-left: 2rem;
        margin-right: 2rem;
        @media screen and (max-width: 1024px) {
            color: $dark-color;
            font-size: 2.33rem;
        }
        @media screen and (max-width: 620px) {
 
            font-size: 1.8rem;
        }
    }
    h4{
        font-family: $theme-font3;
        color: $dark-color;
        margin-left: 2rem;
        margin-right: 2rem;
        @media screen and (max-width: 620px) {
            font-size: 1.2rem;
        }

    }
    li{
        background-color: transparent;
        border:0;
        color: $white-color;
        font-size: 1.15rem;
        font-weight: bold;
        margin-left: 1rem;
        margin-right: 1rem;
        @media screen and (max-width: 1024px) {
            color: $dark-color;
            font-size: 1rem;
        }
        @media screen and (max-width: 620px) {
            font-size: 0.85rem;
        }
    }
    button{
        background-color: $accent-color;
        color: $white-color;
        width: max-content;
        margin-left: 2rem;
        margin-right: 2rem;
        &:hover{
            background-color: $dark-color !important;
        }
    }
}