<section  style="direction: ltr;">
    <div class="container-fluid p-5 ">
        <div class="row ">
            <div class="col-lg-6 col-md-10 col-sm-11">
                <div class="card p-2 border-0">
                    <h4>{{benefitsData?.title1[override.currentLang]}}</h4>

                    <h1 class="mt-2">
                      {{benefitsData?.title2[override.currentLang]}}
                    </h1>

                    <ul class="list-group mt-4 border-0">
                        <li class="list-group-item" *ngFor="let item of benefitsData?.benefits"><i class="fas fa-check-circle"></i>{{override.currentLang == 'en' ? item?.benefit_en:item?.benefit_ar}}</li>
                      </ul>

                      <button class="mt-4">{{'Learn More'|translate}}</button>

                </div>
            </div>
        </div>

    </div>
</section>
