<section class="pt-3 pb-3" >

    <div class="container">
        <div class="row mt-5 justify-content-center align-items-center">
            <div class='col-lg-6 col-md-8 col-sm-10 mt-3 col-sm-9'>
                <div class="card">
                    <img [src]="welcomeData?.image" class="img-fluid">
                </div>
            </div>
            <div class='col-lg-6 col-md-9 col-sm-10 mt-3  col-sm-9' [ngClass]="{'text-right': override.currentLang == 'ar'}">
                <div class="card p-3">
                    <h4>{{welcomeData?.texthead1[override.currentLang]}}</h4>
                    <h1 class="mt-2 text-bold">{{welcomeData?.texthead2[override.currentLang]}}</h1>
                    <p class="mt-3">{{welcomeData?.body1[override.currentLang]}}</p>
                    <p class="mt-3"> {{welcomeData?.body2[override.currentLang]}} </p>
                    <button routerLink="/about-us" class="mt-5">{{'Learn More'|translate}}</button>
                </div>
            </div>
        </div>

    </div>

</section>>
