@import '../../../styles.scss';

@media screen and (max-width: 767px) {}

section {
    background-color: $light-color;
    min-height: 88vh;
}


.card{
        min-height: 60vh;
        border: 0;
        background-color: $light-color;
        img{
            width: auto;
            height: 60vh;
            height: fit-content;
        }
        h1{
            color: $dark-color;
            font-size: 3rem;
            font-weight: bold;
            @media screen and (max-width: 991px) {
                font-size: 2.5rem;
            }
            @media screen and (max-width: 520px) {
                font-size: 2rem;
            }
        }
        h4{
            font-family: $theme-font3;
            color: $main-color;
        }
        p{
            font-weight: 400;
            opacity: 0.65;
        }
        button{
            background-color: $accent-color !important;
            width: fit-content;
            &:hover{
                background-color: $dark-color !important;
            }
        }
        img{
            @media screen and (max-width: 991px) {
                max-height:40vh ;
                margin: auto;
            }
        }
}
