@import '../../../../styles.scss';

@media screen and (max-width: 991px) {}

section {

    height: auto;
}

.blog-title {
    h1 {
        color      : $dark-color;
        font-size  : 3rem;
        font-weight: bold;

        @media screen and (max-width: 991px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 520px) {
            font-size: 2rem;
        }
    }

    h4 {
        font-family: $theme-font3;
        color      : $main-color;
    }
}

.blog-post {

    .blog-img {
        min-height: 40vh;
        max-height: 60vh;
        // background:   $light-color;
        img{
            min-height: 40vh;
            max-height: 75vh ;
            // margin: auto !important;
        }
    }
    .blog-content{
        background-color: $light-color !important;
        .blog-header{
            background-color: $light-color;
            padding: 1.2rem;
            i{
                color: $secondary-color;
                font-size: 1.2rem;
                display: contents;
            }
            span{
                font-size: 0.8rem;
                color: $dark-color;
                opacity: 0.8;
                font-weight: bold;
                padding: 0.8rem;
            }   
        }
        .blog-body{
            background-color: $light-color;
            position: relative;
            border-top: 1px solid #eae7e7;

            h2{
                color: $secondary-color;
                margin-top: 1%;
                padding: 1.2rem;
                position: relative;
                z-index: 1;
            }
            p{
                color: $dark-color;
                font-size: 0.8rem;
                opacity: 0.8;
                font-weight: 400;
                line-height: 1.5rem;
                margin-top: 2%;
                padding: 1.2rem;
                padding-bottom: 0;
                position: relative;
                z-index: 1;
            }
            a{
                background: transparent;
                color: $main-color;
                padding: 0;
                font-weight: 500;
                padding: 1.2rem;
                position: relative;
                z-index: 1;
                &:hover{
                    color: $secondary-color !important;
                }
                i{
                    margin: 1rem;
                }
            }
            .highlight{
                border: 0;
                border-radius: 0;
                border-left: 3px solid $main-color;
                i{
                    margin-top: -9%;
                    margin-bottom: 3%;
                    text-align: right;
                    font-size: 3rem;
                    color: $secondary-color;
                }
                h6{
                    color: $dark-color;
                }
                p{
                    padding: 0;
                    margin: 0;
                }
            }

        }
    }
}

