<section [ngStyle]="{'text-align': override.currentLang == 'en'? 'left': 'right'}">
    <div class="container-fluid">

        <!-- <div class="card blog-title border-0 mt-4 pt-3 pb-3">
            <h4>
                Printing
            </h4>
            <h1>
                Printing Flires
            </h1>
        </div> -->

        <div class="card blog-post border-0 mt-4 pt-3 pb-3">
            <div class="blog-img row  pr-3 pl-3" [ngClass]="{'justify-content-end': override.currentLang == 'en','justify-content-start': override.currentLang == 'ar'}">
              <div class="p-0">
                <img [src]="blogDate?.imageUrl" class="img-fluid">
              </div>
            </div>

            <div class="blog-content">
                <div class="blog-header">
                    <div class="row justify-content-around align-content-center">
                        <div class="col-auto">
                            <i class="fas fa-user"></i>
                            <span>{{override.currentLang == 'en'? blogDate?.name_en: blogDate?.name_ar}}</span>
                        </div>
                        <div class="col-auto">
                            <i class="far fa-calendar-alt"></i>
                            <span>
                              {{ blogDate?.date.toDate() | date:'yyyy/MM/dd' }}
                            </span>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments"></i>
                            <span>{{blogDate?.numberOfComments}}</span>
                        </div>
                    </div>

                </div>

                <div class="blog-body">
                    <h2>{{override.currentLang == 'en'? blogDate?.title_en: blogDate?.title_ar}}</h2>
                    <p>
                      {{override.currentLang == 'en'? blogDate?.description_en: blogDate?.description_ar}}
                    </p>
                    <div class="row justify-content-center" *ngIf="blogDate?.image">
                        <div class="col-auto">
                            <img [src]="blogDate?.image" class="img-fluid">
                        </div>
                    </div>

                    <p *ngIf="blogDate?.description_en2">
                      {{override.currentLang == 'en'? blogDate?.description_en2: blogDate?.description_ar2}}
                    </p>

                    <div class="p-5 " *ngIf="blogDate?.quote_en">
                        <div class="card p-4 highlight">
                            <i class="fas fa-quote-right"></i>
                            <h6>
                              {{override.currentLang == 'en'? blogDate?.quote_en: blogDate?.quote_ar}}
                            </h6>
                            <p class="text-muted text-right "><small>By {{override.currentLang == 'en'? blogDate?.name_en: blogDate?.name_ar}}</small></p>
                        </div>
                    </div>


                </div>

            </div>

        </div>




    </div>
</section>
