@import '../../../styles.scss';

@media screen and (max-width: 991px) {
  .navbar-collapse{
    background-color: $white-color;
    padding: 2rem;
  }
}

section {
  margin-top: 8vh;
}


nav {
  min-height          : 12vh;
  // border-bottom: 1px solid $boxshadow;


}

.dropdown {
  line-height: 2.4rem;
}

.dropdown-btn {}

// .dropdown-btn:hover {
//   min-height: 20vh;
//   position  : relative;
//   top       : 7.3vh;

//   @media screen and (max-width: 991px) {
//     min-height: auto;
//     position  : relative;
//     top       : 0vh;
//   }

//   .dropdown-menu {
//     display: block !important;
    
//   }

//   .dropdown-toggle::after {

//     vertical-align: 0.3em;
//   }
// }

.dropdown-menu {
  margin-top      : 1.5rem;
  border          : 0;
  background-color: $main-color;

  a {
    color: $main-color;
  }

  a:hover {
    background-color: $light-color;
  }

  .btn-light {
    color           : $white-color !important;
    font-size       : 1rem;
    background-color: transparent !important;
  }
}

img {
  //height: ;
  max-height: 8vh;
}

input {
  width: 50vh !important;
}

.input-group-prepend {
  cursor: pointer;

  .input-group-text {
    background-color: transparent;
    border-color    : transparent;
    border          : 0;
    border-bottom   : 2px solid $main-color;

    i {
      color: $accent-color;
    }
  }

}

.btn-light {
  color    : #757575 !important;
  font-size: 1rem;
  background-color:transparent !important;

}

.btn-light.active {
  color       : $main-color !important;
  box-shadow  : none;
  border-color: transparent !important;
}

.btn-light.twitter:hover,
.btn-light.pinterest:hover,
.btn-light.facebook:hover,
.btn-light.youtube:hover {
  animation: increase-scale 1.2s infinite;

}

.btn-light.twitter,
.btn-light.pinterest,
.btn-light.facebook,
.btn-light.youtube {
  border-radius   : 50%;
  color           : $white-color !important;
  background-color: $accent-color !important;
  width           : 3.5rem;
  height          : 3.5rem;
  padding         : 0.9rem;
  transition      : 0.5s;

  i {
    color: $white-color !important;
  }
}

.btn-light.pinterest {
  background-color: $dark-color !important;
}

.btn-light.facebook {
  background-color: $secondary-color !important;
}

.btn-light.youtube {
  background-color: $main-color !important;
}