<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light shadow" style="direction: ltr;">

<div class="container">
  <div class="col-lg-2">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../../assets/logo.png" class="" alt="">
    </a>
    <button class="navbar-toggler mt-2 float-right" type="button" data-toggle="collapse" data-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="col-lg-10 pl-1 pr-1 m-auto " >
    <div class="collapse navbar-collapse  " [ngClass]="{'justify-content-end': override.currentLang == 'en','justify-content-start': override.currentLang == 'ar'}" [ngStyle]="{direction: override.isRTL()?'rtl':'ltr'}"  id="menu">
      <div class="row justify-content-center align-items-center">

        <div class="col-auto" *ngFor="let option of navItemList">
          <div *ngIf="option.dropdown == true then dropdown " hidden></div>
          <!-- <div *ngIf="option.input == true then input  " hidden></div> -->
          <div *ngIf="option.link == true then link  " hidden></div>
          <!-- <div *ngIf="option.dropdown == true then dropdown else option.input == true then input else  link "></div> -->

          <!-- <ng-template #input >
            <div *ngFor="let optionInput of option?.inputDetails">
              <div class="input-group mb-2 mr-sm-2">
                <input type="{{optionInput.type}}" class="{{optionInput.class}}"  placeholder="{{optionInput.placeholder}}">
                <div class="input-group-prepend">
                  <div class="input-group-text"> <i class=" {{optionInput.icon}}"></i></div>
                </div>
              </div>
            </div>
          </ng-template> -->

          <ng-template #dropdown>
              <div class="dropdown-btn">
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="{{ option.title }}" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    {{ option.title }}
                    <i class=" {{option.icon}}"></i>
                  </button>
                  <div class="dropdown-menu rounded-0">
                    <div *ngFor="let optionlist of option.droplist">
                      <a class="dropdown-item text-center {{optionlist.class}}"  routerLink="{{optionlist.href}}" (click)="option.title == 'English'? override.changeLanguage(optionlist['val']): ''">{{optionlist.listTitle}}
                        <i class="ml-3 {{optionlist.icon}}"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
          </ng-template>

          <ng-template #link>

            <a class="nav-link btn {{option.class}}"  routerLink="{{option.href}}" >{{ option.title }}
              <i class=" {{option.icon}}"></i> </a>
          </ng-template>


        </div>

      </div>

    </div>
  </div>
</div>



</nav>
