// @import '../../../styles.scss';
// @media screen and (max-width: 767px) {}
// section{margin-top:8vh;}

@import "style/colors.scss";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "style/animation.scss";
@import "style/animation-carousel.scss";
@import "style/owl-carousel.scss";
@import "style/bootstrap-customize.scss";


@font-face {
  font-family: 'Font Awesome 5 Free' !important;
  @import "~font-awesome/css/font-awesome.min.css";
}


body {
  font-family       : $theme-font2 !important;
  font-weight       : 300;
  min-height        : 100vh;
  //background-color: $light-color;
}



button {
  border            : none;
  outline           : none;
  display           : inline-block;
  vertical-align    : middle;
  border-radius     : 35px;
  color             : #fff;
  background-color  : $main-color;
  font-family       : $theme-font;
  font-weight       : 500;
  font-size         : 16px;
  padding           : 18px 69px;
  -webkit-transition: all .4s;
  transition        : all .4s;

&:hover{
  background-color: $accent-color;
}
&:active,&:focus{
border:0 !important; box-shadow: none !important;
}

}



.icon-outline-circle,
.icon-circle {
  font-size    : 24px !important;
  line-height  : 55px !important;
  width        : 59px !important;
  height       : 59px !important;
  border-radius: 50% !important;
  text-align   : center !important;
  color        : $secondary-color !important;
  border       : 2px solid $secondary-color !important;
}

/*scroll style*/
::-webkit-scrollbar {
  width  : 10px;
  opacity: 0;
}

::-webkit-scrollbar:hover {
  opacity: 1 !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background      : $main-color !important;
  // border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: $accent-color !important;
}

.border-main {
  border-color: $main-color;
}

.border-accent {
  border-color: $accent-color;
}


a:hover {
  text-decoration: none;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
